<footer class="footer">
  <div class="footer-container">
    <div class="footer-section">
      <h4>Sobre Nosotros</h4>
      <p>
        Nuestra Misión: En CalmaMente, nos dedicamos a ayudar a las personas a
        comprender y manejar su ansiedad mediante el uso de inteligencia
        artificial y recursos educativos.
      </p>
    </div>
    <div class="footer-section">
      <h4>Recursos Útiles</h4>
      <ul>
        <li>
          <a
            href="https://www.unicef.org/elsalvador/media/5026/file/Gu%C3%ADa%20para%20manejar%20la%20ansiedad.pdf"
            target="_blank"
            >Guía para Manejar la Ansiedad</a
          >
        </li>
        <li>
          <a
            href="https://www.mayoclinic.org/es/healthy-lifestyle/stress-management/in-depth/relaxation-technique/art-20045368"
            target="_blank"
            >Técnicas de Relajación</a
          >
        </li>
        <li>
          <a href="https://www.youtube.com/watch?v=aBsnQjJ2_Nk" target="_blank"
            >Meditación Guiada</a
          >
        </li>
        <li>
          <a href="https://www.youtube.com/watch?v=ClDGfuF5R0g" target="_blank"
            >Entrevistas con Expertos</a
          >
        </li>
      </ul>
    </div>
    <div class="footer-section">
      <h4>Ayuda y Soporte</h4>
      <ul>
        <li><a href="#">Preguntas Frecuentes</a></li>
        <li><a href="#">Contacto</a></li>
        <li><a href="#">Términos y Condiciones</a></li>
        <li><a href="#">Política de Privacidad</a></li>
      </ul>
    </div>
  </div>
  <div class="footer-bottom">
    <p>&copy; 2024 CalmaMente. Todos los derechos reservados.</p>
  </div>
</footer>
