.contenedor {
  padding: 5vh;
  height: 85vh;
}

.table-container {
  position: relative;
  max-height: 65vh;
  overflow: auto;
}

.contenedor button.principal {
  background-color: rgba(0, 255, 255, 0.418);
}

.contenedor button.eliminar {
  color: #e63946;
}

::ng-deep .custom-tooltip {
  transform: scale(1.6) !important;
  position: relative !important;
}

mat-icon {
  transform: scale(2);
}

td,
th {
  font-size: 20px;
}
