<div class="container mt-5 mb-5">
  <button
    mat-flat-button
    class="fs-4 p-4 mb-5"
    routerLink="/adminModels"
    type="button"
  >
    <mat-icon>arrow_back</mat-icon> Volver
  </button>
  <form [formGroup]="formPreguntas" (ngSubmit)="enviar()">
    <div class="questions-container">
      <div *ngFor="let question of preguntas" class="question-item">
        <mat-form-field class="full-width mb-3">
          <mat-label>{{ question }}</mat-label>
          <input matInput [formControlName]="question" type="text" />
          <mat-error
            *ngIf="
              formPreguntas.get(question)?.invalid &&
              formPreguntas.get(question)?.touched
            "
          >
            El campo es requerido
          </mat-error>
        </mat-form-field>
      </div>
    </div>
    <button
      mat-flat-button
      class="fs-4 p-4"
      type="submit"
      [disabled]="!formPreguntas.valid"
    >
      <mat-icon>send</mat-icon> Enviar
    </button>
  </form>
</div>
