<div class="container mt-5 mb-5">
  <button mat-flat-button class="fs-4 p-4 mb-5" (click)="setVisibleCharts()">
    <mat-icon>arrow_back</mat-icon> Volver
  </button>
  <button
    mat-flat-button
    class="fs-4 p-4 mb-5 ms-4"
    (click)="captureChartsAsPDF()"
  >
    <mat-icon>picture_as_pdf</mat-icon> Descargar PDF
  </button>
  <div id="chartDispersionClusters">
    <apx-chart
      [series]="chartOptionsDispersionClusters.series!"
      [chart]="chartOptionsDispersionClusters.chart!"
      [xaxis]="chartOptionsDispersionClusters.xaxis!"
      [yaxis]="chartOptionsDispersionClusters.yaxis!"
      [theme]="chartOptionsDispersionClusters.theme!"
      [markers]="chartOptionsDispersionClusters.markers!"
      [legend]="chartOptionsDispersionClusters.legend!"
      [title]="chartOptionsDispersionClusters.title!"
    ></apx-chart>
  </div>
  <div id="chartMetodoCodo">
    <apx-chart
      [series]="chartMetodoCodo.series!"
      [chart]="chartMetodoCodo.chart!"
      [xaxis]="chartMetodoCodo.xaxis!"
      [yaxis]="chartMetodoCodo.yaxis!"
      [theme]="chartMetodoCodo.theme!"
      [markers]="chartMetodoCodo.markers!"
      [legend]="chartMetodoCodo.legend!"
      [title]="chartMetodoCodo.title!"
      [plotOptions]="chartMetodoCodo.plotOptions!"
    ></apx-chart>
  </div>

  <div id="chartTotalClusters">
    <apx-chart
      [series]="chartOptionsTotalClusters.series!"
      [chart]="chartOptionsTotalClusters.chart!"
      [xaxis]="chartOptionsTotalClusters.xaxis!"
      [yaxis]="chartOptionsTotalClusters.yaxis!"
      [theme]="chartOptionsTotalClusters.theme!"
      [markers]="chartOptionsTotalClusters.markers!"
      [legend]="chartOptionsTotalClusters.legend!"
      [title]="chartOptionsTotalClusters.title!"
      [plotOptions]="chartOptionsTotalClusters.plotOptions!"
    ></apx-chart>
  </div>
</div>
