.container {
  animation: fadeIn 2s;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.card {
  animation: fadeInUp 1s;

  color: var(--primary-text-color);

  &.dark-theme {
    --primary-text-color: #fff;
  }

  &.light-theme {
    --primary-text-color: #000;
  }
}

.mat-mdc-card {
  height: 530px;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
