<div class="container">
  <div class="row align-items-center justify-content-center h-100">
    <div class="col-md-6">
      @if(isTestStarted){
      <mat-card>
        <mat-card-content class="text-center">
          <mat-progress-bar
            mode="determinate"
            [value]="((currentQuestionIndex + 1) / questions.length) * 100"
          ></mat-progress-bar>
          <div *ngIf="questions.length">
            <p class="fs-3 mt-4">
              ¿Con qué frecuencia tienes cada síntoma? Selecciona las opciones
              que más se ajusten a ti
            </p>
            <h2>{{ currentQuestion.text }}</h2>
            <mat-radio-group
              [(ngModel)]="selectedOption"
              class="d-flex flex-column align-items-center"
            >
              <div *ngFor="let option of currentQuestion.options" class="my-2">
                <mat-radio-button [value]="option">
                  @if (option == '0') { Nunca } @else if (option == '1')
                  {Aveces} @else if (option == '2') {A menudo} @else {Siempre}
                </mat-radio-button>
              </div>
            </mat-radio-group>
            <div class="button-group my-3">
              <button
                mat-raised-button
                color="primary"
                (click)="prevQuestion()"
                [disabled]="currentQuestionIndex === 0"
              >
                Anterior
              </button>
              <button
                mat-raised-button
                color="primary"
                (click)="nextQuestion()"
                *ngIf="currentQuestionIndex < questions.length - 1"
              >
                Siguiente
              </button>
              <button
                mat-raised-button
                color="primary"
                (click)="submit()"
                *ngIf="currentQuestionIndex === questions.length - 1"
              >
                Enviar
              </button>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
      } @else {
      <mat-card
        [class.mat-elevation-z2]="true"
        class="animate__animated animate__pulse"
      >
        <mat-card-content>
          <p class="text-center fs-1">Vamos con el test.</p>
          <p class="text-center fs-5">
            Al acabar verás los resultados en función de tus respuestas y los
            puntos obtenidos.
          </p>
          <p class="text-center fs-5">
            Cuando acabes, se mostrará su interpretación automáticamente.
            Recuerda que es algo orientativo, y que no sustituye a una
            evaluación de un profesional.
          </p>
        </mat-card-content>
        <mat-card-footer class="text-center p-4">
          <button mat-flat-button (click)="isTestStarted = true" class="fs-5">
            Iniciar
          </button>
        </mat-card-footer>
      </mat-card>
      }
    </div>
  </div>
</div>
