.container {
  margin-top: 5vh;
  margin-bottom: 5vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.example-section {
  mat-checkbox {
    display: block;
    margin-bottom: 20px;
  }
}

.cont {
  display: flex;
}

mat-checkbox {
  transform: scale(1.3);
}
